.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxScore {
  word-wrap: break-word; /* Allow wrapping of long words */
  overflow-wrap: break-word; /* Ensure wrapping works in all browsers */
  text-align: center; /* Center the text */
}

.boxScore.bsFlyers,
.boxScore.bsBadGuys {
}

.one div div, .two div div,
.boxScore div,
.boxScore div div{
  overflow-wrap: anywhere; 
  word-break: break-word;
  white-space: normal !important; 
}

.row {
  display: flex;
  width: 100%; /* Full width */
}

.column {
  flex: 1 0 auto; 
  min-width: 0; 
  overflow: hidden;
}


.column-content {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.column-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem; /* Space between buttons */
}

@media (max-width: 768px) {
  .column-content {
    flex-direction: column;
  }

}
